body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(244, 230, 158);
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* align to left */
    align-items: flex-start;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px; /* add margin-left to align with buttons */
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.grid-square {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid black;
    transition: background-color 0.3s;
}

.grid-square:hover {
    background-color: black;
}

.grid-square.active {
    background-color: black;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(239, 175, 85);
    color: #333;
    border: none;
    border-radius: 5px;
}

#controls button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ddd;
    color: #333;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.color-picker {
    margin-bottom: 10px;
  }
  
.color-picker-label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }

input[type="color"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
  }


@media only screen and (max-width: 768px) {
    #container {
        width: 100%;
        height: auto;
        max-width: 600px;
        max-height: 600px;
    }
}