#container {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
    height: 512px;
    margin: 0 auto;
    border: 1px solid black;
}

.grid-square {
    width: 30px;
	height: 30px;
	margin: 1px;
	background-color: white;
	border: 1px solid black;
    transition: background-color 0.3s;
}

.grid-square:hover {
	background-color: black;
}

.grid-square.active {
	background-color: black;
}