#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.grid-square {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
	margin: 0;
    padding: 0;
	background-color: white;
	border: 1px solid black;
    transition: background-color 0.3s;
}

.grid-square:hover {
	background-color: black;
}

.grid-square.active {
	background-color: black;
}